
.devided-holder {
  width: 75%;
  margin-top: 40px;
  height: fit-content;
  align-self: center;
  justify-self: center;

  .devided {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-x: auto;
    overflow-y: hidden;

    height: fit-content;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .data-nums {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      padding-left: 0;
      margin-left: -5px;

      .data-num {
        width: 10px;
        min-width: 10px;
        flex-shrink: 0;
        margin: 20px;
        margin-top: 0;
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .data-cols {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: start;

      .data-col {
        width: 20px;
        flex-shrink: 0;
        background-color: white;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 15px;
        margin-bottom: 20px;
        margin-top: 50px;

        div {
          transform: translate(-10px, -30px);
          text-align: center;
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 1000px) 
{
    .devided-holder {
        width: 90%;
    }
}

@media (min-width: 1630px) {
  .devided-holder .devided .data-cols {
      justify-content: center;
    }

  .devided-holder .devided .data-nums {
    justify-content: center;
  }
  
}

.devided::-webkit-scrollbar {
  height: 8px;
}

.devided::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

.devided::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); 
  border-radius: 10px; 
}

.devided::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); 
}

