:root {
  --background: url("background-day.png");
  --dependent-color: #fff002;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #001c33;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;

  background-image: var(--background);
  background-size: cover;
  background-position: center;
}

.panel {
  background: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  border-radius: 14px;
  padding: 16px;

  border: 0px;

  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.301),
    inset 0 0 30px rgba(46, 46, 46, 0.356), inset 0 0 8px rgba(20, 20, 20, 0.35);
}

.clesius {
  font-size: small;
  vertical-align: middle;
}

.general {
  display: flex;
  flex-direction: row;
  width: 75%;
  align-self: center;
  justify-self: center;

  .forecasts {
    width: 60%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    line-height: 0px;
  }
}


.sub-data {
  width: 75%;
  margin-top: 40px;
  align-self: center;
  justify-self: center;

  height: fit-content;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 50px;

  div {
    width: 48%;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .general {
    flex-direction: column;
    width: 90%;

    .forecasts {
      width: 100%;
      align-self: center;
    }

    .today {
      width: 100%;
      align-self: center;
      margin-right: 0px;
      margin-bottom: 40px;

      div h1 {
        font-size: 40px;
      }
    }
  }

  .sub-data {
    width: 90%;
    flex-direction: column;
    height: 740px;

    div {
      width: 100%;
      height: 300px;
    }

    .wind {
      flex-direction: column;
      height: 400px;
    }

    .wind .compass {
      height: 90%;
      aspect-ratio: 1;
      width: auto;
    }
  }
}

#owners-text {
  justify-self: center;
  margin-top: 100px;
  text-align: center;
  font-size: smaller;
}