.forecast-card {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 50%;
        aspect-ratio: 1;
    }
}

hr {
    width: 90%;
}