.forecast-card {
    width: 30%;
    height:  100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
        width: 70%;
        aspect-ratio: 1;
    }
}

hr {
    width: 90%;
}