.today {
    justify-self: center;
    width: 40%;
    justify-items: center;
    text-align: center;

    display: flex;
    flex-direction: row;

    padding-bottom: 40px;
    margin-right: 40px;

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      * {
        margin: 0;
      }
      img {
        width: 70%;
        align-self: center;
        margin-bottom: -10px;
      }
      h1 {
        margin: 20px;
        font-size: 50px;
      }
      h2 {
        margin: 5px;
      }
    }
  }